header {
    padding-top: 14px;
    background-color: #222831;
  }
  
  #brand-name {
    color: white;
    padding-left: 170px;
  }
  
  .dancing-script {
    font-family: "Dancing Script", cursive;
  }
  
  .navbar-items {
    display: flex;
    justify-content: space-between;
    width: 70%;
    gap: 30px;
  }

  body {
    width: 100vw;
    height: auto;
    overflow-x: hidden;
    overflow-y: scroll;
  }
  
  a {
    text-decoration: none;
  }
  
  #options {
    display: flex;
    gap: 35px;
  }
  
  .navbar-items a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
  }
  
  .navbar-items a:hover {
    color: rgb(213, 186, 9);
  }
  
  #btns {
    display: flex;
    gap: 25px;
    padding-right: 200px;
  }
  
  .btn-warning {
    border-radius: 25px;
    color: white;
    width: 150px;
  }
  .btn-warning:hover {
    border-radius: 25px;
    color: white;
    width: 150px;
  }

  
  

  

  

#item-cards .hide {
    display: none;
  }
  #item-cards .show {
    display: block;
  }
  
  .item-pics img {
    transition: transform 0.2s linear;
  
  }
  
  .item-pics :hover {
    transform: scale(1.1);
    transition: transform 0.2s linear;
  }
  
  #menu-buttons span{
    border-radius: 25px;
    padding: 7px 25px;
    cursor: pointer;
  }
  
  #menu-buttons span.active {
    color: white;
    background-color: #222831;
  }
  
  #our-menu {
    padding: 30px;
    text-align: center;
    margin-bottom: 50px;
  }
  
  #menu-buttons {
    justify-content: center;
    text-align: center;
    display: flex;
    gap: 20px;
  }
  
  .menu-buttons button {
    border-radius: 20px;
  }
  
  .item-card1 img {
    height: 125px;
    width: initial;
  }
  .item-card1 .item-pics {
    height: 145px;
    width: 100%;
    background-color: #f1f2f3;
    border-bottom-left-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #item-cards {
    padding: 0 120px;
  }
  
  .item-card1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 390px;
    width: 320px;
    background-color: #222831;
    border-radius: 21px;
    /* padding-bottom: 40px; */
  }
  
  .mar {
    margin-top: 50px;
    display: flex;
    justify-content: center;
  }
  
  .card-dic {
    color: white;
    padding: 20px;
  }
  
  .price-tag button {
    background-color: #ffbe33;
    border-radius: 50%;
  }
  
  .price-tag i {
    color: white;
  }
  
  .price-tag {
    display: flex;
    justify-content: space-between;
  }
  
  footer {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    padding: 70px;
    background-color: #222831;
    color: white;
  }
  
  footer a {

    color: white;
  }
  
  #upperhalfinfo {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }
  
  #upperhalfinfo > div {
    display: flex;
    flex-direction: column;
    max-width: 200px;
  }
  
  #lowerhalfinfo {
    display: flex;
    flex-direction: column;
  }
  